{% extends "base.html" %}
{% block title %}Add Task{% endblock %}

{% block content %}
    <h1>Add Task</h1>
    <div class="form-container">
        <form method="post">
            Title: <input type="text" name="title" required><br>
            Description: <textarea name="description"></textarea><br>
            Due Date: <input type="date" name="due_date"><br>
            Priority: 
            <select name="priority">
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select><br>
            Completed: <input type="checkbox" name="completed"><br>
            <input type="submit" value="Add Task">
        </form>
    </div>
{% endblock %}
